In [57]:
import pandas as pd
import numpy as np

In [90]:
data=pd.read_excel("C:/Users/mrsil/OneDrive/Desktop/Iman Genius PIe chart-Revised.xlsx", sheet_name="Sept2020&June2021&Aug2021")

In [91]:
data.head()

,101520,Healthy.T2.004,Healthy.T2.010,Healthy.T3.014,Healthy.T3.015,Healthy.T3.017,Healthy.T3.019,Healthy.T2.033,Unhealthy.T2.012,Unhealthy.T3.018,...,Unhealthy.T2.Control.Day.0.B016.1,Unhealthy.T2.Control.Day.0.B002.1,Unhealthy.T1.Control.Day.28.B015.1,Unhealthy.T2.012.1,Unhealthy.T3.018.1,Unhealthy.T3.022.1,Unhealthy.T3.044.1,Unhealthy.T3.051.1,Unhealthy.T3.052.1,Unhealthy.T3.053.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.001163,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.000193,0.000185,0.000703,0.000000,0.000360,0.000000,0.000809,0.000156,0.000000,...,0.000807,0.000201,0.001000,0.000156,0.000000,0.000000,0.000183,0.000237,0.000403,0.000000
3,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.118155,0.100600,0.011601,0.015725,0.046781,0.233243,0.032828,0.047243,0.040683,...,0.111490,0.063336,0.020486,0.047243,0.040683,0.005489,0.065244,0.015442,0.000291,0.053631
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 90 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   101520                              118 non-null    object
 1   Healthy.T2.004                      118 non-null    float64
 2   Healthy.T2.010                      118 non-null    float64
 3   Healthy.T3.014                      118 non-null    float64
 4   Healthy.T3.015                      118 non-null    float64
 5   Healthy.T3.017                      118 non-null    float64
 6   Healthy.T3.019                      118 non-null    float64
 7   Healthy.T2.033                      118 non-null    float64
 8   Unhealthy.T2.012                    118 non-null    float64
 9   Unhealthy.T3.018                    118 non-null    float64
 10  Unhealthy.T3.022                    118 non-null    float64
 11  Unhealthy.T3.044                    118 non-null    float64
 12  Unhealthy.T3.051                    118 non-null    float64
 13  Unhealthy.T3.052                    118 non-null    float64
 14  Unhealthy.T3.053                    118 non-null    float64
 15  61421                               115 non-null    object
 16  Healthy.T1.Control.Day.0.A023       115 non-null    float64
 17  Healthy.T1.Control.Day.28.A024      115 non-null    float64
 18  Healthy.T1.Control.Day.0.A059       115 non-null    float64
 19  Healthy.T1.Control.Day.28.A060      115 non-null    float64
 20  Healthy.T1.Control.Day.0.A061       115 non-null    float64
 21  Healthy.T1.Control.Day.28.A062      115 non-null    float64
 22  Healthy.T1.Control.Day.0.A028       115 non-null    float64
 23  Healthy.T1.Control.Day.28.A030      115 non-null    float64
 24  Healthy.T1.Control.Day.0.A067       115 non-null    float64
 25  Healthy.T1.Control.Day.28.C067      115 non-null    float64
 26  Healthy.T2.Control.Day.0.A036       115 non-null    float64
 27  Healthy.T2.Control.Day.0.A039       115 non-null    float64
 28  Healthy.T2.Control.Day.0.A057       115 non-null    float64
 29  Healthy.T2.Control.Day.28.A065      115 non-null    float64
 30  Healthy.T2.Control.Day.28.A066      115 non-null    float64
 31  Healthy.T2.Control.Day.28.A041      115 non-null    float64
 32  Healthy.T3.Control.Day.28.A040      115 non-null    float64
 33  Unhealthy.T2.Control.Day.0.B016     115 non-null    float64
 34  Unhealthy.T1.Control.Day.28.B015    115 non-null    float64
 35  Unhealthy.T2.Control.Day.0.B002     115 non-null    float64
 36  Unhealthy.T0.Control.Day.0.C001     115 non-null    float64
 37  82321                               158 non-null    object
 38  Healthy.T1.Control.Day.0.A063       158 non-null    float64
 39  Healthy.T1.Control.Day.28.A064      158 non-null    float64
 40  Healthy.T2.Control.Day.0.A071       158 non-null    float64
 41  Healthy.T2.Control.Day.28.A072      158 non-null    float64
 42  Healthy.T1.Control.Day.0.A073       158 non-null    float64
 43  Healthy.T1.Control.Day.28.A074      158 non-null    float64
 44  Healthy.T2.Control.Day.0.A027       158 non-null    float64
 45  Healthy.T2.Control.Day.28.A029      158 non-null    float64
 46  Healthy.T1.Control.Day.28.A058      158 non-null    float64
 47  Healthy.T1.Control.Day.28.C058      158 non-null    float64
 48  Healthy.T1.Control.Day.0.A068       158 non-null    float64
 49  Healthy.T3.Control.Day.0.A303       158 non-null    float64
 50  Healthy.T3.Control.Day.28.A304      158 non-null    float64
 51  Healthy.T1.Control.Day.0.A023.1     158 non-null    float64
 52  Healthy.T1.Control.Day.28.A024.1    158 non-null    float64
 53  Healthy.T1.Control.Day.0.A059.1     158 non-null    float64
 54  Healthy.T1.Control.Day.28.A060.1    158 non-null    float64
 55  Healthy.T1.Control.Day.0.A061.1     158 non-null    float64
 56  Healthy.T1.Control.Day.28.A062.1    158 non-null    float64
 57  Healthy.T1.Control.Day.0.A028.1     158 non-null    float64
 58  Healthy.T1.Control.Day.28.A030.1    158 non-null    float64
 59  Healthy.T1.Control.Day.0.A067.1     158 non-null    float64
 60  Healthy.T1.Control.Day.28.C067.1    158 non-null    float64
 61  Healthy.T2.Control.Day.0.A036.1     158 non-null    float64
 62  Healthy.T2.Control.Day.0.A039.1     158 non-null    float64
 63  Healthy.T2.Control.Day.0.A057.1     158 non-null    float64
 64  Healthy.T2.Control.Day.28.A065.1    158 non-null    float64
 65  Healthy.T2.Control.Day.28.A066.1    158 non-null    float64
 66  Healthy.T2.Control.Day.28.A041.1    158 non-null    float64
 67  Healthy.T3.Control.Day.28.A040.1    158 non-null    float64
 68  Healthy.T2.004.1                    158 non-null    float64
 69  Healthy.T2.010.1                    158 non-null    float64
 70  Healthy.T3.014.1                    158 non-null    float64
 71  Healthy.T3.015.1                    158 non-null    float64
 72  Healthy.T3.017.1                    158 non-null    float64
 73  Healthy.T3.019.1                    158 non-null    float64
 74  Healthy.T2.033.1                    158 non-null    float64
 75  UnHealthy.T2.Control.Day.28.B001    158 non-null    float64
 76  UnHealthy.T1.Control.Day.0.B007     158 non-null    float64
 77  UnHealthy.T1.Control.Day.28.B008    158 non-null    float64
 78  UnHealthy.T2.Control.Day.0.B019     158 non-null    float64
 79  UnHealthy.T2.Control.Day.28.B020    158 non-null    float64
 80  Unhealthy.T2.Control.Day.0.B016.1   158 non-null    float64
 81  Unhealthy.T2.Control.Day.0.B002.1   158 non-null    float64
 82  Unhealthy.T1.Control.Day.28.B015.1  158 non-null    float64
 83  Unhealthy.T2.012.1                  158 non-null    float64
 84  Unhealthy.T3.018.1                  158 non-null    float64
 85  Unhealthy.T3.022.1                  158 non-null    float64
 86  Unhealthy.T3.044.1                  158 non-null    float64
 87  Unhealthy.T3.051.1                  158 non-null    float64
 88  Unhealthy.T3.052.1                  158 non-null    float64
 89  Unhealthy.T3.053.1                  158 non-null    float64
dtypes: float64(87), object(3)
memory usage: 113.3+ KB

In [96]:
data['compare'] = (data[101520] == data[61421]) & (data[61421] == data[82321])

In [97]:
data.head()

,101520,Healthy.T2.004,Healthy.T2.010,Healthy.T3.014,Healthy.T3.015,Healthy.T3.017,Healthy.T3.019,Healthy.T2.033,Unhealthy.T2.012,Unhealthy.T3.018,...,Unhealthy.T2.Control.Day.0.B002.1,Unhealthy.T1.Control.Day.28.B015.1,Unhealthy.T2.012.1,Unhealthy.T3.018.1,Unhealthy.T3.022.1,Unhealthy.T3.044.1,Unhealthy.T3.051.1,Unhealthy.T3.052.1,Unhealthy.T3.053.1,compare
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.001163,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
2,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.000193,0.000185,0.000703,0.000000,0.000360,0.000000,0.000809,0.000156,0.000000,...,0.000201,0.001000,0.000156,0.000000,0.000000,0.000183,0.000237,0.000403,0.000000,True
3,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,0.118155,0.100600,0.011601,0.015725,0.046781,0.233243,0.032828,0.047243,0.040683,...,0.063336,0.020486,0.047243,0.040683,0.005489,0.065244,0.015442,0.000291,0.053631,True
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False

In [85]:
# data['compare'] = data[101520] = data[61421] = data[82321]

In [99]:
columns=data[[101520,61421,82321,'compare']]

In [100]:
columns.head()

,101520,61421,82321,compare
0,NaN,k__Archaea;p__Euryarchaeota;c__Methanobacteria...,k__Archaea;p__Euryarchaeota;c__Methanobacteria...,False
1,NaN,k__Archaea;p__Euryarchaeota;c__Methanobacteria...,k__Archaea;p__Euryarchaeota;c__Methanobacteria...,False
2,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,True
3,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,True
4,NaN,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,k__Bacteria;p__Actinobacteria;c__Actinobacteri...,False